@use '@/assets/styles/variables' as *;

:root {
  --el-color-primary: $primary-color;
  --el-color-success: $success-color;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}